<div class="form-group">
    <label>Select Days</label>
    <label class="checkbox-inline">
    	<input type="checkbox" checklist-model="value.repeatative_days" value="sunday">Every Sunday    	
    </label>
    <label class="checkbox-inline">
    	<input type="checkbox" checklist-model="value.repeatative_days" value="monday">Every Monday    	
    </label>
    <label class="checkbox-inline">
    	<input type="checkbox" checklist-model="value.repeatative_days" value="tuesday">Every Tuesday    	
    </label>
    <label class="checkbox-inline">
    	<input type="checkbox" checklist-model="value.repeatative_days" value="wednesday">Every Wednesday    	
    </label>
    <label class="checkbox-inline">
    	<input type="checkbox" checklist-model="value.repeatative_days" value="thursday">Every Thursday    	
    </label>
    <label class="checkbox-inline">
    	<input type="checkbox" checklist-model="value.repeatative_days" value="friday">Every Friday    	
    </label>
    <label class="checkbox-inline">
    	<input type="checkbox" checklist-model="value.repeatative_days" value="saturday">Every Saturday    	
    </label>
</div>
<div class="form-group">
    <label>Except</label>
    <multiple-date-picker ng-model="value.except"></multiple-date-picker>  
</div>
